<h1 class="mt-4">Page Heading</h1>

<hr>

<div class="card mb-4">
  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">{{article.title}}</h2>
    <p class="card-text" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" id="test">{{article.content}}</p>
    <a class="btn btn-primary" [routerLink]="['/posts', article.id]">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    Posted on  by
    <p>{{article.author}}</p>
  </div>
</div>

<hr>
