<div class="container">
    <div class="panel panel-warning" style="margin-top: 30px;">
        <div class="panel-heading">
            <h1 class="display-4">Article Manager</h1>
        </div>
        <div class="panel-body">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>CreateDate</th>
                        <th style="text-align: center;">Tools</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>CreateDate</th>
                        <th style="text-align: center;">Tools</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>