<div class="container">
    &nbsp;&nbsp;
    &nbsp;&nbsp;<mat-form-field>
        <mat-label>Filter</mat-label>
        <input #toTarget matInput (keyup)="applyFilter($event.target.value)"  placeholder="Ex.ium">
    </mat-form-field>
    <div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults || isRateLimitReached">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
          </div>
        </div>
      
        <div class="example-table-container">
          <table mat-table [dataSource]="data" class="example-table"
                 matSort matSortActive="id" matSortDisableClear matSortDirection="desc">
                    <!-- Position Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
            
                    <!-- Name Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
            
                    <!-- Role Column -->
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                    </ng-container>
            
                    <!-- Weight Column -->
                    <ng-container matColumnDef="first_name" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                    </ng-container>
            
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="last_name" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                    </ng-container>
                    <!--newButton-->
                    <ng-container matColumnDef="actions">
                        <mat-header-cell style="padding-top: 18px; justify-content: center;"  *matHeaderCellDef > Actions </mat-header-cell>
                        <mat-cell style="padding-top: 7.5px; justify-content: center;" *matCellDef="let row" >
                            <button mat-icon-button matTooltip = "View" [matTooltipPosition] = "'left'">
                                <mat-icon fontSet="fas" fontIcon="fa-eye"></mat-icon>
                            </button>
                            <button style="margin-left: 15px;" mat-icon-button color="primary" (click)="openDialog(row)" matTooltip = "Edit">
                                <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>
                            </button>
                            <button style="margin-left: 15px;" mat-icon-button color="warn" (click)="deleteUser(row.id)" matTooltip = "Delete" [matTooltipPosition] = "'right'">
                                <mat-icon fontSet="fas" fontIcon="fa-trash-alt"></mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50, 100]"  ></mat-paginator>
      </div>    
</div>
