<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input id="chris">
</mat-form-field>
 <div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table #table [dataSource]="dataArr" class="example-table" matSort matSortActive="author" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="articlename">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>articlename</th>
        <td mat-cell *matCellDef="let x"> {{x.articlename}} </td>
      </ng-container>

      <ng-container matColumnDef="article">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>article</th>
        <td mat-cell *matCellDef="let x"> {{x.article}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>author</th>
        <td mat-cell *matCellDef="let x"> {{x.author}} </td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          dateCreated
        </th>
        <td mat-cell *matCellDef="let x"> {{x.dateCreated | date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let x; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

